extends layout

block content
	div.card-container

		div.card-front.card.outer
			//- div.txt-container
				//- p.lg-txt Happy Mother's Day!
			//- div.txt-container
			//- 	p.md-txt Medium Text
			//- div.txt-container
			//- 	p.sm-txt Small Text
			//- canvas(id="myCanvas" width="300" height="300" style="border:1px solid #000")
			button.card-btn.open-btn ↪

		div.card-front.card.inner
			img.inner-img(src="http://www.perfectworldmoney.com/wp-content/uploads/2013/12/flower-clip-art-outline.jpg")
			button.card-btn.close-btn ↩

		div.card-back.card.inner
			div.txt-container
				h4 Mom,
				p.inner-txt-body
					|I can't tell you enough how much I
					|appreciate everything you do for me.
					|You're always there for me, and I wouldn't
					|be where I am today without you. Thank you for
					|being such a wonderful mom.
					br
					| 
					br
					|Love,
					br
					|Kelsey
		div.card-back.card.outer



