extends layout

block content
	div.row
		div.small-12.columns#main-col
			div.card-container
				div.card-front.card.outer
					div.front-header Text
					div
					button.open-card-btn ❱
				div.card-front.card.inner
				div.card-back.card.inner
				div.card-back.card.outer