doctype html
html(lang='en')
	head
		meta(charset="utf-8")
		link(rel="stylesheet" type="text/css" href="/css/main.css")
		link(rel="stylesheet" type="text/css" href="/foundation-5.2.2/css/normalize.css")
		link(rel="stylesheet" type="text/css" href="/foundation-5.2.2/css/foundation.min.css")
		title Card
	body
		nav.top-bar
			ul.title-area
				li.name
					h1: a(href="#") My Site
		header.header 
			div Header
		block content
		